.box {
  height: 77px;
  width: 100%;
}

.box .rectangle {
  background-color: rgba(240, 240, 240, 0.8); /* Adjust the background color and opacity as needed */
  backdrop-filter: blur(10px); /* Adjust the blur amount as needed */
  height: 77px;
  width: 100%;
  left: 0;
  top: 0;
  position: fixed;
  flex-shrink: 0;
  display: flex; /* Add this line */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  z-index: 1000;
}

.box .rectangle .navbar-container {
  height: 77px;
  width: 980px;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 22px;
  margin-right: 22px;
}


@media (max-width: 1020px) and (min-width: 834px) {
  .box .rectangle .navbar-container {
    width: 100%; /* Set the width to 980px between 980px and 834px */
    justify-content: space-around; /* Reduce spacing between items */
    margin-left: auto;
    margin-right: auto;
  }
}

.box .rectangle .navbar-container .image:hover {
  opacity: 0.5;
}
