@font-face {
  font-family: "Roboto";
  src: url("../../../assets/fonts/Roboto-Regular.ttf") format("truetype");
  /* Add other font formats here if available */
  font-weight: normal;
  font-style: normal;
}
.placeholder {
  height: 20px;
}
.aboutpage {
  /* align the contents inside this class to center of the screen */
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-bottom: 78px;
}

.text-container {
  text-align: center;
  padding: 20px;
  width: 558px;
  font-size: 30px;
  font-family: "Roboto", sans-serif;
}

.rainbow-text {
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff9900,
    #33cc33,
    #0099cc,
    #9900cc,
    #ff00ff
  );
  background-size: 200% 200%;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  animation: rainbow-animation 4s linear infinite;
  display: inline-block;
  animation-delay: 1s; /* Delay for a wave effect */
}

@keyframes rainbow-animation {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 200% 200%;
  }
}

.blue-gradient-text {
  background: linear-gradient(45deg, #0000ff, #00ffff, #00ff00);
  background-size: 200% 200%;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  animation: gradient-animation 4s linear infinite;
  display: inline-block;
  animation-delay: 1s; /* Delay for a wave effect */
}

@keyframes blue-gradient-animation {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 200% 200%;
  }
}

.red-gradient-text {
  background: linear-gradient(
    45deg,
    #ff4545,
    #ffa500,
    #ffff00,
    #ffa500,
    #ff4545
  );
  background-size: 200% 200%;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  animation: red-gradient-animation 4s linear infinite;
  display: inline-block;
  animation-delay: 1s; /* Delay for a wave effect */
}

@keyframes red-gradient-animation {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 200% 200%;
  }
}

.image-container {
  height: 160px;
}
.fullstack-wrapper {
  position: absolute;
  top: 395px;
  left: calc(50% - 450px);
}

.rockclimb-wrapper {
  position: absolute;
  top: 200px;
  left: calc(50% + 260px);
  z-index: -1;
}

.ironman-wrapper {
  position: absolute;
  top: 720px;
  left: calc(50% - 260px);
}

.mcd-wrapper {
  position: absolute;
  top: 730px;
  left: calc(50% + 80px);
}

.link-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 250px;
}

.link-container .githubimage-wrapper {
  position: relative;
  left: calc(50% - 185px);
}

.githubimage-wrapper button {
  background-color: transparent;
  border: 10px solid #000000;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.githubimage-wrapper :hover {
  background-color: #65e4b3;
}

.link-container .linkedinimage-wrapper {
  position: relative;
  right: calc(50% - 200px);
}

.linkedinimage-wrapper button {
  background-color: transparent;
  border: 10px solid #0089d8;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.linkedinimage-wrapper :hover {
  background-color: #0089d8;
}
