@font-face {
    font-family: "Roboto";
    src: url("../../../assets/fonts/Roboto-Regular.ttf") format("truetype");
    /* Add other font formats here if available */
    font-weight: normal;
    font-style: normal;
  }

.skillspage{
    /* align the contents inside this class to center of the screen */
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Roboto", sans-serif;
    height: 980px;
    margin-top: 200px;
    margin-bottom: 100px;
}